{% extends 'base.html' %}
{% block content %}
  <section>
    <p>Questo sito viene generato usando la libreria Python {{ a.jinja2 }}. Questa libreria di <i>templating</i> è comoda per generare semplici pagine statiche con parti ripetitive (per esempio la barra di navigazione), contenuti o codice <tt>html</tt> a partire da piccoli "database" in <tt>yaml</tt> e molto altro. Il codice che genera queste pagine è disponibile {{ a.gitlab_sito_uz }}.</p>
    <p>Per questo sito ho usato il font <i>Computer Modern Sans</i>. {{ a.cm }} è una famiglia di tipi di carattere sviluppata da {{ a.knuth }} per il \( \TeX \). Puoi scaricare anche tu questo font e molti altri della famiglia <i>Computer Modern</i> da {{ a.cm_css }} per metterlo sul tuo sito.</p>
    <p>Per il <tt>css</tt> e il layout delle pagine mi sono invece appoggiato al framework {{ a.bootstrap }}.</p>
  </section>
{% endblock %}
