<!-- About -->
{% extends 'base.html' %}
{% block content %}
  <section>
    <h4>Ansible Euler</h4>
    <p>Gestisco la configurazione del mio portatile e di eventuali altri miei computer con il tool di automazione {{ a.ansible }}. Il codice sorgente è disponibile su GitLab alla repository {{ a.ansible_euler }} ed è testato per la mia installazione di Debian GNU/Linux bullseye.</p>
    <p>I <tt>roles</tt> presenti con i file più rilevanti sono
      <ul>
        <li><tt>base-config</tt></li>
        <ul>
          <li><tt>bashrc</tt></li>
          <li>configurazione del tiling window manager {{ a.xmonad }} (con xmobar)</li>
        </ul>
        <li><tt>extra-config</tt></li>
        <ul>
          <li>configurazione del mio editor di testo (e non solo) preferito: {{ a.emacs }} con <tt>emacsclient</tt></li>
          <li>rescaling dello schermo con {{ a.hidpi }}</li>
        </ul>
        <li><tt>latex</tt></li>
        <ul>
          <li>installazione automatizzata di \( \LaTeX \) (TeXLive) se non presente</li>
          <li>configurazione <tt>latexmk</tt></li>
          <li>configurazione <tt>texstudio</tt></li>
        </ul>
        <li><tt>root-config</tt></li>
        <ul>
          <li>configurazione <tt>gnome-flashback-session</tt> con xmonad</li>
        </ul>
        <li><tt>utils</tt> per installazione di pacchetti</li>
      </ul>
    </p>
  </section>
  <section>
    <h4>Latex base repository</h4>
    <p>Dato che tutti gli appunti che scrivo in \( \LaTeX \) vengono poi caricati su {{ a.contacts.gitlab }} e mi piace automatizzare tutto, ho scritto una piccola utility per creare una repository adatta ad un progetto \( \LaTeX \) che includa di default file di stile e la {{ a.ci }}.</p>
    <p>Al momento è solo un insieme di script in Python orchestrati da uno script in bash, ma ho l'obiettivo di dargli una struttura più sensata. L'utility è chiaramente open-source e disponibile alla repository {{ a.latex_base_repository }}.
  </section>
{% endblock %}
