{% extends 'base.html' %}
{% block content %}
  <section>
    <p>In questa pagina ho raccolto alcune dispense e appunti che ho scritto in preparazione ai corsi universitari. Non tutti gli elaborati sono stati conclusi: quelli che necessitano ancora di revisione e/o sono stati scritti solo parzialmente sono evidenziati da degli ingranaggi.</p>
    <p>Non sono l'unico autore di questi appunti e in particolare ringrazio {{ a.marco }} per i suoi contributi.</p>
    <p>Per contribuire a questi appunti o segnalare errori visita la mia pagina personale {{ a.contacts.gitlab }}.</p>
  </section>

  {% for key, section in appunti.items() %}
    <section>
      <h3>{{ section.name }}</h3>
      <ul class="list-group">
        {% for item in section.list %}
          <li class="list-group-item flex-fill">
            <div class="container">
              <div class="row justify-content-between">
                <div class="col-auto p-0 mb-1">
                  <a
                    href="{{ item.url }}"
                    class="list-group-item-heading list-group-item-action h5"
                    >
                    {% if item.wip %}
                      <span class="fas fa-cogs mr-1"></span>
                    {% endif %}
                    <span class="fas fa-file mr-1"></span>
                    {{ item.title }}
                  </a>
                </div>
                <div class="col-auto p-0">
                  <small>
                    {{ item.author | join(", ") }}
                  </small>
                </div>
              </div>
              <div class="row">
                <p class="list-group-item-text mb-1">{{ item.content }}</p>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
  <section>
    <h3>Studio</h3>
    <p>Alcuni <tt>org files</tt> con appunti e riflessioni in preparazione agli esami. Non hanno necessariamente una una struttura organica, non sono sicuramente completi negli argomenti e a volte mancano i riferimenti opportuni all'argomento sul quale ho scritto qualcosa. Sono inoltre presenti alcuni commenti e opinioni personali e probabilmente alcuni errori. Tuttavia credo che ci siano dei contenuti che possono essere utili: conti rifatti in modo diverso, alcuni concetti riassunti in modo più conciso o più chiaro di come li ho trovati nelle "referenze ufficiali", commenti sull'utilità/inutilità di alcune parti dei corsi, qualche domanda fatta agli orali.</p>

    <p>La {{ a.org_mode }} di Emacs permette di esportare file <tt>org</tt> in formato <tt>pdf</tt> e <tt>html</tt> riportati di seguito, assieme all'<tt>org</tt> file originale.</p>

    <ul class="list-group">
      {% for item in studio %}
        <li class="list-group-item flex-fill py-0">
          <div class="container">
            <div class="row justify-content-between">
              <div class="d-flex flex-wrap justify-content-around align-items-center">
                <div
                  class="list-group-item-heading h5 mb-0"
                  >
                  {% if item.wip %}
                    <span class="fas fa-cogs mr-1"></span>
                  {% endif %}
                  <span class="fas fa-file mr-1"></span>
                  {{ item.title }}
                </div>
              </div>
              <div class="d-flex flex-wrap justify-content-around">
                {% for key, href in item.exports.items() %}
                  <a href="{{ href }}" class="btn btn-link text-center">
                    {% if key == 'org' %}
                      <span class="icon-org">
                        <svg class="icon-org-icon">
                          <symbol id="icon-org-icon" viewBox="0 0 29 32">
                            <path d="M28.522 11.844c-0.042-0.644-0.581-0.892-1.225-0.434-1.476-0.265-2.924-0.14-3.638-0.2-1.566-0.219-2.87-1.048-2.87-1.048 0.191-0.253 0.099-0.801-1.124-0.838-0.336-0.111-0.682-0.271-1.008-0.405 0.111-0.234-0.027-0.58-0.027-0.58 0.498-0.137 0.574-0.785 0.378-1.167 0.635 0.017 0.534-0.964 0.446-1.304 0.498-0.189 0.566-0.783 0.36-1.253 0.601-0.137 0.618-0.841 0.566-1.338 0.618-0.034 0.532-1.115 0.532-1.339 0.532-0.343 0.412-0.807 0.496-1.343 0.328-0.664-0.118-0.853-0.433-0.145-0.337 0.613-0.77 0.881-0.766 1.334 0.154 0.257-1.15 0.635-0.738 1.441-0.292 0.36-0.978 0.824-0.734 1.376-0.124 0.271-0.999 0.906-0.622 1.507-0.823 0.549-0.774 0.682-0.601 1.184-0.234 0.15-0.474 0.381-0.612 0.632-0.27-0.321-0.532-0.905-0.528-1.695 0-0.669-1.247 0.065-1.247 1.387 0 0.114-0.012 0.217-0.028 0.315-0.431 0.050-0.971 0.145-1.652 0.305-0.022 0.015-0.032 0.038-0.037 0.065-0.027-0.099-0.047-0.205-0.057-0.317-0.119-0.775-1.008-1.954-1.442-0.497-0.224 0.534-0.356 0.898-0.432 1.183v0c0 0-0.069 0.046-0.196 0.125-0.535 0.332-0.728 1.367-2.672 2.020-0.656 0.221-1.513 0.398-2.649 0.49-1.956 0.158-5.7 3.539-5.951 6.765-0.058 0.81 0.063 2.808 0.735 4.56 0 0.001 0.001 0.003 0.001 0.004 0.003 0.009 0.007 0.017 0.010 0.025 0.011 0.027 0.021 0.055 0.032 0.081 0.057 0.147 0.118 0.287 0.183 0.421 0.385 0.823 0.912 1.551 1.622 2.020 0.361 0.281 0.683 0.462 0.894 0.565 1.207 1.993 3.769 4.548 8.6 3.037 7.41-2.102 11.5 2.822 11.971 3.168 0.695 0.702-1.796-6.098-7.069-9.154-3.118-1.701-1.161-4.631-0.937-5.665 0 0 2.499 1.749 4.31-0.924 1.636 0.421 2.732-0.299 4.139 0.211 0.855 0.375 4.45 0.148 3.114-1.861 0.84-0.548 0.929-0.371 1.349-1.206 0.226-1.012-0.287-1.229-0.443-1.506z"></path>
                          </symbol>
                          <use xlink:href="#icon-org-icon"></use>
                        </svg>
                      </span>
                    {% elif key == 'pdf' %}
                      <span class="fas fa-file-pdf icon-org"></span>
                    {% elif key == 'html' %}
                      <span class="fab fa-html5 icon-org"></span>
                    {% endif %}
                  </a>
                {% endfor %}
              </div>
            </div>
            <!-- <div class="row"> -->
              <!--   <p class="list-group-item-text mb-1">{{ item.content }}</p> -->
              <!-- </div> -->
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
