{% extends 'base.html' %}
{% block content %}
  <section>
    <p>Questa è la mia pagina personale. Sono uno studente di Fisica presso la {{ a.sns }} e l'{{ a.unipi_df }}. Nella sezione {{ a.uni }} ci sono appunti di alcuni corsi che ho seguito.</p>
    <p>Nel tempo libero sono sysadmin di Starfleet, l'infrastruttura informatica del collegio Timpano (assieme a {{ a.fabio }}, {{ a.marco }}, {{ a.balbo }} e {{ a.pole }}), e della {{ a.uz }}, la rete informatica degli allievi della Scuola.</p>

    <ul class="list-group">
      <li class="list-group-item flex-fill">
        <div class="container">
          <a
            href="{{ links.cv.url }}"
            class="list-group-item-heading list-group-item-action h5"
            >
            <span class="fas fa-file" style="margin-right: 5px"></span>
            {{ links.cv.name }}
          </a>
        </div>
      </li>
    </ul>
  </section>

  <section>
    <h4>Contatti</h4>
    <div class="container">
      <span class="fas fa-envelope mr-1"></span>
      {{ a.email.sns }}
    </div>
    {% for key, item in a.contacts.items() %}
      <div class="container">
        <span
          class="{% if people.ale.contacts[key].icon %}{{ people.ale.contacts[key].icon }}{% else %}fab fa-{{ key }}{% endif %} mr-1"
          ></span>
          {{ item }}
      </div>
    {% endfor %}
  </section>

  <section>
    <h4>Lorem Ipsum</h4>
    <p>Un {{ a.lipsum }} può servire per riempire uno spazio vuoto come il seguente</p>
    <div class="card">
      <div class="card-body font-italic">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </section>
{% endblock %}
