{% extends 'base.html' %}
{% block content %}
<section>
  <h3>Tesi triennale</h3>
  <p>Nel lavoro di tesi triennale all'Università di Pisa mi sono occupato di studiare numericamente il modello di Ising (in 2 dimensioni sul reticolo quadrato) tramite simulazioni Monte Carlo. Il docente che mi ha seguito è stato il professor {{ a.bonati }}.</p>
  <p>È tutto pubblicamente disponibile, in particolare:</p>
  <ul>
    <li>la {{ a.tesi_triennale_repo }} con il codice sorgente delle simulazioni in <tt>C</tt>, dell'elaborazione in <tt>python</tt> e degli elaborati in \( \LaTeX \)</li>
    <li>il {{ a.tesi_triennale_abstract }} della tesi</li>
    <li>le {{ a.tesi_triennale_presentazione }} della presentazione</li>
    <li>delle {{ a.tesi_triennale_note }} scritte a tempo perso e senza pretesa di completezza durante la preparazione</li>
  </ul>
</section>
<section>
  <h3>Colloquio SNS</h3>
  <p>Al quarto anno in Normale viene richiesta la preparazione di un <em>colloquio</em>/seminario su un argomento a piacere concordato con un docente. Il titolo del mio colloquio è <em>The Conformal Bootstrap and its application to the Ising model in 3d</em> e sono stato seguito dal professor {{ a.vichi }}. Ho approfondito le teorie di campo conformi, la tecnica del conformal bootstrap e analizzato il modello di Ising in 3 dimensioni tramite {{ a.sdpb }}.</p>
  <p>È tutto pubblicamente disponibile, in particolare:</p>
  <ul>
    <li>la {{ a.colloquio_repo }} con i notebook in <tt>Mathematica</tt> per il conformal bootstrap</li>
    <li>le {{ a.colloquio_presentazione }} della presentazione</li>
    <li>alcune {{ a.colloquio_note }} note e riflessioni che ho scritto in preparazione al colloquio</li>
  </ul>
</section>
<section>
  <h3>Soluzioni problemi di QCD</h3>
  <p>Al repository {{ a.problemi_qcd }} nella cartella <tt>src</tt> sono disponibili le soluzioni dei problemi assegnati durante il corso di Cromodinamica Quantistica, il cui svolgimento è necessario per l'esame orale. Di seguito è anche disponibile il pdf unico con indice.</p>
    <ul class="list-group">
    <li class="list-group-item flex-fill">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-auto p-0">
            <a
              href="https://gitlab.com/apiazza134/problemi-qcd/-/jobs/artifacts/master/raw/problemi-qcd.pdf?job=compile_pdf"
              class="list-group-item-heading list-group-item-action h5"
            >
              <span class="fas fa-file" style="margin-right: 5px"></span>
              Problemi di QCD
            </a>
          </div>
          <div class="col-auto p-0">
            <small>
              {{ people.ale.name }}
            </small>
          </div>
        </div>
      </div>
    </li>
    </ul>
</section>
<section>
  <h3>Progetti Metodi Numerici</h3>
  <p>Link ai progetti per il corso di <em>Metodi Numerici per la fisica</em></p>
  <ul>
    <li>{{ a.metodi_numerici_1 }}: modello di Potts \( d = 3, q = 3 \)</li>
    <li>{{ a.metodi_numerici_2 }}: modello di Ising quantistico (<b>non concluso!</b>)</li>
    <li>{{ a.metodi_numerici_3 }}: path integral Monte Carlo per la particella sul cerchio (studio della carica topologica)</li>
    <li>{{ a.metodi_numerici_6 }}: path integral Monte Carlo per il campo scalare libero massivo (studio dello spettro)</li>
  </ul>
</section>
<section>
  <h3>Relazioni Laboratorio 3</h3>
  <p>Nell'A.A 2019/2020 ho frequentato il corso di Laboratorio 3 e Laboratorio 3 Avanzato. Assieme al mio compagno di laboratorio {{ a.marco }} abbiamo tenuto sotto version control e caricato su GitLab le relazioni di laboratorio sulla repository {{ a.lab3_relazioni }}: lì sono disponibili i <tt>pdf</tt> più recenti compilati dalla CI di GitLab, oltre che ai sorgenti \( \LaTeX \), ai dati acquisti e agli script di elaborazione degli stessi.</p>
  <p>Le correzioni alle relazioni da parte dei docenti di laboratorio non possono essere riprodotte tramite la CI e sono quindi disponibili nella seguente cartella compressa.</p>
  <ul class="list-group">
    <li class="list-group-item flex-fill">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-auto p-0">
            <a
              href="{{ STATIC_DIR }}/files/lab3-relazioni-corrette.zip"
              class="list-group-item-heading list-group-item-action h5"
            >
              <span class="fas fa-file-archive" style="margin-right: 5px"></span>
              Relazioni di Laboratorio 3 corrette
            </a>
          </div>
          <div class="col-auto p-0">
            <small>
              {{ people.marco.name }}, {{ people.ale.name }}
            </small>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>

<section>
  <h3>Lab Agile</h3>
  <p>Come supporto all'attività di laboratorio 3 e soprattutto delle relazioni, io e {{ a.marco }} abbiamo scritto il pacchetto Python <tt>lab-agile</tt>. L'obiettivo principale era quello di astratte la struttura dei dati da inserire nelle relazioni dalla relazione stessa: in questo modo i dati acquisiti oppure l'esito dell'elaborazione dei dati vengono immesse direttamente nella relazione usando \( \LuaTeX \), invece di doverle copiare a mano ogni volta che queste cambiano (come è noto <i>ai dati piace cambiare</i>). Tutto questo rende la scrittura delle relazioni molto più {{ a.agile }}.</p>
  <p>La documentazione e maggiori informazioni sono disponibili su {{ a.lab_agile_doc }}. Il codice sorgente è invece disponibile su {{ a.lab_agile_src }}.
</section>
{% endblock %}
