<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto font-weight-bold">
        {% for key, p in pages.items() %}
          {% if p.children %}
            <li
              class="nav-item dropdown
              {% for key, c in p.children.items() %}
                {% if (c.name == this_page.name or p.name == this_page.name) %}
                  active
                {% endif %}
              {% endfor %}"
              >
              <a class="nav-link dropdown-toggle" href="{{ p.url }}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{ p.name }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for key, c in p.children.items() %}
                  <a class="dropdown-item" href="{{ c.url }}">{{ c.name }}</a>
                {% endfor %}
              </div>
            </li>
          {% else %}
            <li class="nav-item {% if p.name == this_page.name %}active{% endif %}">
              <a class="nav-link" href="{{ p.url }}">{{ p.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
