body {
    font-family: 'Computer Modern Sans';
}

h1, h2, h3, h4 {
    border-bottom: 1px solid #dee2e6!important
}

p {
    /* margin-top: 0; */
    /* margin-bottom: 0; */
    text-align: justify!important;
}

section {
    margin-bottom: 2em;
}

.page-header {
    margin-top: 8px;
    margin-bottom: 0;
}

/* .navbar .nav-item .dropdown-menu{ display: none; } */
.navbar .nav-item:hover .nav-link {
    color: #fff;
}
.navbar .nav-item:hover .dropdown-menu {
    display: block;
}

.list-group-item-heading, .list-group-item-text {
    color: #333;
}

.list-group-item:focus, .list-group-item:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

.list-group-item-heading:hover {
    color: #026cde;
}

.icon-org {
    font-size: 2em;
    line-height: inherit;
}

.icon-org-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/* .label-primary { */
/*     background-color: #337ab7; */
/* } */

/* .label { */
/*     display: inline; */
/*     padding: .2em .6em .3em; */
/*     font-size: 75%; */
/*     font-weight: 700; */
/*     line-height: 1; */
/*     color: #fff; */
/*     text-align: center; */
/*     white-space: nowrap; */
/*     vertical-align: baseline; */
/*     border-radius: .25em; */
/* } */
