<!doctype html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Alessandro Piazza - {{ this_page.name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_DIR }}/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_DIR }}/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_DIR }}/css/Computer Modern/Sans/cmun-sans.css"></link>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_DIR }}/css/style.css">
    {% block css %}{% endblock %}
    <!-- Katex -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_DIR }}/css/katex.min.css">
    <script defer type="text/javascript" src="{{ STATIC_DIR }}/js/katex.min.js"></script>
    <script defer type="text/javascript" src="{{ STATIC_DIR }}/js/auto-render.min.js"></script>
    <script>
     document.addEventListener("DOMContentLoaded", function() {
       renderMathInElement(document.body, {
         macros: {
           "\\LuaTeX": "\\mathrm{Lua}\\TeX"
         }
       });
     });
    </script>
    {% if PRODUCTION %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KB65S6D');</script>
    <!-- End Google Tag Manager -->
    {% endif %}
    {% block head %}{% endblock %}
  </head>

  <body>
    {% if PRODUCTION %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KB65S6D" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126248702-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'UA-126248702-1');
    </script>
    {% endif %}

    {% include 'include/navbar.html' %}
    <div id="main" class="container">
      <div class="page-header">
        <h1>{{ this_page.header }}</h1>
      </div>
      {% block content %}{% endblock %}

      {% if this_page.children %}
        <section>
          <ul class="list-group list-group-horizontal flex-wrap">
            {% for c_name, c in this_page.children.items() %}
              <li class="list-group-item flex-fill text-center">
                <a
                  href="{{ c.url }}"
                  class="list-group-item-heading
                  list-group-item-action h4"
                  >
                  {{ c.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </section>
      {% endif %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{{ STATIC_DIR }}/js/jquery.slim.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_DIR }}/js/popper.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_DIR }}/js/bootstrap.min.js"></script>
  </body>
</html>
